@import 'styles/variables.scss';


.modal {
	position: absolute;
	top: 3rem;
	left: 0;
	z-index: 2;
	overflow: hidden;
	background-color: $white_bg;
	width: 100%;
	max-width: 400px;
	box-shadow: 1px 1px 3px $gray_bg;
}

.modal_header {
	background-color: $cyan;
	color: $text_white;
	padding: 1rem .8rem;
	font-size: 1.5rem;
	word-spacing: 0.2rem;
	letter-spacing: .07rem;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.month {
	flex-grow: 1;
}

.month_arrow {
	color: $text_medium_dark;
	font-weight: bold;
	position: absolute;
	top: 9px;
	display: block;
	width: 12px;
	height: 12px;
	border: 0px solid $text_medium_dark;
	border-top-width: 3px;
}

.month_arrow::after {
	content: "";
	display: block;
	position: absolute;
	bottom: 0;
	width: 12px;
	border-top: 1px solid $text_medium_dark;
	height: 0;
}

.month_arrow.month_arrow_left::after {
	transform: rotate(45deg) translate(-8px, 9px);
}

.month_arrow.month_arrow_right::after {
	transform: rotate( -45deg) translate(7px, 8px);
}

.month_arrow_left {
	left: 11px;
	border-left-width: 3px;
	transform: rotate(-45deg);
}

.month_arrow_right {
	right: 11px;
	border-right-width: 3px;
	transform: rotate(45deg);
}

.month_arrow_btn {
	position: relative;
	border-radius: 6px;
	width: 34px;
	height: 36px;
	padding: 0;
	outline: none;
	background-color: transparent;
	border-color: transparent;
	border-style: solid;
	border-width: 2px;
	cursor: pointer;
}

.month_arrow_btn:focus, .month_arrow_btn:active {
	border-color: $cyan_medium
}

/* Calendar Grid */

.calendar_container {
	padding: .4rem;
	padding-bottom: 0;
	width: 100%;
}

.week_names {
	display: flex;
	justify-items: center;
	padding: 0.8rem 0 1rem;
	width: 100%;
}

.week_day {
	color: $text_medium_light;
	font-size: .85rem;
	text-align: center;
	flex: 1 0 14.285%;
}

.calendar_row {
	display: flex;
	margin-bottom: .5rem;
	width: 100%;
}

@media screen and (min-width: 335px) {
	.calendar_container {
		padding: .8rem;
	}
}