.wrapper {
  position: relative;
}

/* Picker button */

.picker {
  border-radius: 2px;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid #CECECE;
  padding: .4rem .5rem;
  width: 100%;
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.picker:focus, picker:active {
  outline: none;
  border: 2px solid #00DBB1;
}

.picker_placeholder {
  color: #A1A1A1;
}

.picker.modal_open::after {
  position: absolute;
  bottom: -14px;
  left: 25px;
  content: "";
  display: block;
  transform: rotate(45deg);
  width: 12px;
  height: 12px;
  background-color: transparent;
  border: 0 solid #CECECE;
  border-left-width: 2px;
  border-top-width: 2px;
}

/* End and start date subbuttons */

.date {
  display: block;
  text-align: left;
  padding: .1rem 0 .1rem .4rem;
  flex-grow: 1;
  border-radius: 4px;
}

/* Arrow icon */

.arrow {
  flex-grow: 0;
  display: block;
  position: relative;
  width: 25px;
  margin: 0 0.6rem;
  height: 1.5px;
  background-color: #464646;
}

.arrow::after {
  content: "";
  position: absolute;
  display: block;
  border-color: #464646;
  border-width: 1.5px;
  border-top-style: solid;
  border-right-style: solid;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  right: 1px;
  top: -4.5px;
}

