.card {
  border: 1.5px solid #CECECE;
  min-height: 20rem;
  width: 100%;
  padding: 1.6rem;
  border-radius: 1px;
}

.formControl {
  margin-bottom: 1rem;
}

.formControl:last-child {
  margin-bottom: 4rem;
}

.formControl:nth-last-child(2) {
  margin-bottom: 2rem;
}

.errMsg {
  margin: 1rem 0;
  font-size: 0.8rem;
  min-height: 1rem;
  visibility: hidden;
  color: #f44336
}

.error {
  visibility: visible;
}

@media (min-width: 481px) {
  .card {
    width: auto;
    min-width: 25rem;
  }
}