/* Card container */

.card {
  border: 2px solid #CECECE;
  min-height: 20rem;
  width: 98%;
  min-width: 320px;
  padding: 1.6rem;
  border-radius: 1px;
}

/* Form controls */

.formControl {
  margin-bottom: 1rem;
}

.formControl:last-child {
  margin-bottom: 4rem;
}

.formControl:nth-last-child(2) {
  margin-bottom: 2rem;
}

/* Error message */

.errMsg {
  margin: 1rem 0;
  font-size: 0.8rem;
  min-height: 1rem;
  visibility: hidden;
  color: #f44336
}

.error {
  visibility: visible;
}

/* Media queries */

@media (min-width: 481px) {
  .card {
    width: auto;
    min-width: 25rem;
  }
}