/*********************** Colors ***********************/

/* Cyan - main theme color */

$cyan: #00DBB1;
$cyan_medium: #66e9d0;
$cyan_light: #C3FEF8;

/* Red - Warm red, secondary theme color */

$red: #D86360;
$red_light: #df827f;
$red_dark: #974543;

/* Teal - accent color */

$teal: #38787D;
$teal_light: #A1D9D6;

/* Teal - accent color */

$error: #f44336;


/* Bacground colors */

$gray_bg: #CECECE;
$gray_medium_bg: #DDD;
$gray_light_bg: #EEE;
$white_bg: #FFF;

/* Text colors */

$text_dark: #464646;
$text_medium_dark : #555;
$text_medium: #777;
$text_medium_light: #999;
$text_light: #A1A1A1;
$text_white: #FCFCFC;
