.small {
  width: 1rem;
}

.medium {
  width: 1.2rem;
}

.large {
  width: 1.4rem;
}

.one, .two {
  fill: #38787D;
}

.star_half .two {
  fill: #DDD;
}

.star_empty .one, .star_empty .two {
  fill: #DDD;
}