.wrapper {
  position: relative;
}

/* Picker button */

.picker {
  border-radius: 2px;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid #CECECE;
  padding: .4rem .5rem;
  width: 100%;
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.picker:focus, picker:active {
  outline: none;
  border: 2px solid #00DBB1;
}

.picker_placeholder {
  color: #A1A1A1;
}

.picker.modal_open::after {
  position: absolute;
  bottom: -14px;
  left: 25px;
  content: "";
  display: block;
  transform: rotate(45deg);
  width: 12px;
  height: 12px;
  background-color: transparent;
  border: 0 solid #CECECE;
  border-left-width: 2px;
  border-top-width: 2px;
}

/* End and start date subbuttons */

.date {
  display: block;
  text-align: left;
  padding: .1rem 0 .1rem .4rem;
  flex-grow: 1;
  border-radius: 4px;
}

/* Arrow icon */

.arrow {
  flex-grow: 0;
  display: block;
  position: relative;
  width: 25px;
  margin: 0 0.6rem;
  height: 1.5px;
  background-color: #464646;
}

.arrow::after {
  content: "";
  position: absolute;
  display: block;
  border-color: #464646;
  border-width: 1.5px;
  border-top-style: solid;
  border-right-style: solid;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  right: 1px;
  top: -4.5px;
}

/* Modal */

.modal {
  position: absolute;
  top: 3rem;
  left: 0;
  background-color: #fff;
  width: 100%;
  max-width: 400px;
  box-shadow: 1px 1px 3px #CCC;
}

.modal_header {
  padding: .6rem;
  font-size: 1.3rem;
  word-spacing: 0.2rem;
  letter-spacing: .07rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.month {
  flex-grow: 1;
}

.month_arrow {
  font-weight: bold;
  position: absolute;
  top: 9px;
  display: block;
  width: 10px;
  height: 10px;
  border: 0px solid #555;
  border-top-width: 3px;
}

.month_arrow::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 10px;
  border-top: 1px solid #555;
  height: 0;
}

.month_arrow.month_arrow_left::after {
  transform: rotate(45deg) translate(-8px, 7px);
}

.month_arrow.month_arrow_right::after {
  transform: rotate( -45deg) translate(6px, 6px);
}

.month_arrow_left {
  left: 11px;
  border-left-width: 3px;
  transform: rotate(-45deg);
}

.month_arrow_right {
  right: 11px;
  border-right-width: 3px;
  transform: rotate(45deg);
}

.month_arrow_btn {
  position: relative;
  border-radius: 6px;
  width: 32px;
  height: 32px;
  padding: 0;
  outline: none;
  background-color: transparent;
  border-color: transparent;
  border-style: solid;
  border-width: 2px;
  cursor: pointer;
}

.month_arrow_btn:focus, .month_arrow_btn:active {
  border-color: #66e9d0
}